@media screen and (max-width:500px){
    html,body{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        text-align: center;
        font-family: sans-serif;
        background-color: black;
    }

    img{
        display: block;
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    iframe{
        height:550px;
        width: 100%;
    }

    #sec01 {
        background-image: url("https://www.amaempreender.com.br/HackerTiger7k/images/backgroundpo.jpg");
        background-size: cover;
        background-size: 100% 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align the content to start from the top */
        padding: 0 0 20px; /* Add some padding at the bottom */
        
    }

    
    #sec01 .ul-container {
        display: flex;
        align-items: center; /* This will center the <ul> vertically */
        flex-grow: 1; /* This will take the remaining space, allowing the ul to center in it */
        
    }
    

    #sec01 ul {
        display: flex; /* Turn the <ul> into a flex container. */
        flex-direction: column;
        gap:20px; /* Distribute items evenly in the container. */
        list-style-type: none; /* Remove default bullets. */
        padding: 0; /* Remove default padding. */
        width: 100%; /* Take full width of the container. You can adjust as necessary. */
        margin-top: 60px;
    }
    
    #sec01 li {
        /* Optional styles for list items. Adjust as required. */
        padding: 30px; /* Give a little padding to each list item. */
        display: flex;
        flex-direction: row;
        border: 1px solid #9d2525;
        border-radius: 4px;
        padding: 7px;
        width: 79%;
        margin: 5px 0px 0px 30px;
        color: #9d2525;
        font-family: 600;
    }

    img{
        width: 50px;
        margin: 0px;
        padding: 0px;
    }

    /* p{
        font-weight: 600;
        margin-left: 10px;
        font-size: 18px;
    } */

    p{
        margin-left: 10px;
        font-weight: bold;
    }
    
    #sec01 div { /* This is the div wrapping your anchor tag */
        margin-top: auto;  /* This pushes the div to the bottom */
        width: 100%;       /* Ensure it spans the full width of its parent */
        display: flex;     /* Make it a flex container */
        justify-content: center; /* Center children horizontally */
    }
    
    a {
        background-color: green;
        padding: 15px;
        width: 78%;       /* Set width to 90% */
        margin: 0 auto;   /* Center it horizontally */
        text-decoration: none;
        color: white;
        display: block;   /* Convert a tag into block to apply width correctly */
        text-align: center; /* Center the text within the anchor */
    }

    #anchor{
        border: 1px solid #FF8200;;
        border-radius: 7px;
        background-color: #FF8200;;
        color:white;
        animation: 1s pulse infinite;
        font-weight: 600;
        font-size: 13px;
        padding: 7px 15px;
    }

    #anchor-div{
        position: relative;
        border: 1px solid #FF8200;;
        border-radius: 15px;
        background-color: #FF8200;;
        color:white;
        animation: 1s pulse infinite;
        font-weight: 700;
        margin:  5px 0px;
    }

    h2{
        color: white;
        font-weight: 700;
        line-height: 24px;
    }

    .iframe{
        position:absolute;top:0;left:0;width:100%;height:100%;
    }

    .div-iframe{
        padding:178.21782178217822% 0 0 0;position:relative;
    }


}

/* Define the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.03); /* You can adjust this value for a more pronounced pulse */
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (min-width:500px){

    html,body{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        text-align: center;
        font-family: sans-serif;
        background-color: green;
    }

    header, footer{
        background-color: black;
    }

    img{
        display: block;
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    iframe{
        height:550px;
        width: 750px;
    }

    #sec01 {
        background-image: url("https://www.amaempreender.com.br/HackerTiger7k/images/backgroundpo.jpg");
        background-size: cover;
        height: 665px;
        width: 490px;  /* Set the width to 680px */
        margin: 0 auto;  /* Horizontally center the section */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 20px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    

    
    #sec01 .ul-container {
        display: flex;
        align-items: center; /* This will center the <ul> vertically */
        flex-grow: 1; /* This will take the remaining space, allowing the ul to center in it */
        
    }
    

    #sec01 ul {
        display: flex; /* Turn the <ul> into a flex container. */
        flex-direction: column;
        gap:20px; /* Distribute items evenly in the container. */
        list-style-type: none; /* Remove default bullets. */
        padding: 0; /* Remove default padding. */
        width: 100%; /* Take full width of the container. You can adjust as necessary. */
        margin-top: 60px;
    }
    
    #sec01 li {
        /* Optional styles for list items. Adjust as required. */
        padding: 30px; /* Give a little padding to each list item. */
        display: flex;
        flex-direction: row;
        border: 1px solid #9d2525;
        border-radius: 4px;
        padding: 7px;
        width: 79%;
        margin: 5px 0px 0px 30px;
        color: #9d2525;
        font-family: 600;
    }

    img{
        width: 50px;
        margin: 0px;
        padding: 0px;
    }

    /* p{
        font-weight: 600;
        margin-left: 10px;
        font-size: 18px;
    } */

    p{
        margin-left: 10px;
        font-weight: bold;
    }
    
    #sec01 div { /* This is the div wrapping your anchor tag */
        margin-top: auto;  /* This pushes the div to the bottom */
        width: 100%;       /* Ensure it spans the full width of its parent */
        display: flex;     /* Make it a flex container */
        justify-content: center; /* Center children horizontally */
    }
    
    a {
        background-color: green;
        padding: 15px;
        width: 78%;       /* Set width to 90% */
        margin: 0 auto;   /* Center it horizontally */
        text-decoration: none;
        color: white;
        display: block;   /* Convert a tag into block to apply width correctly */
        text-align: center; /* Center the text within the anchor */
    }
    
    /* .iframe{
        width: 350px;
    }

    .iframe{
        position:absolute;top:0;left:0;width:60%;height:60%;
    } */

    #ifr_64efe4dd909f89000a8fda73{
        width: 20%;
        height: 560px;
        padding: 25px 0px;
    }

    .div-iframe{
        padding:0;
        position:relative;
    }

    .div-h2{
        background-color: white;
        width: 49%;
        padding: 25px 15px;
        justify-content: center;
        display: block;
        margin: 10px auto;

    }

    #anchor{
        border: 1px solid #FF8200;;
        border-radius: 7px;
        background-color: #FF8200;;
        color:white;
        animation: 1s pulse infinite;
        font-weight: 600;
        font-size: 13px;
        padding: 15px 15px;
        width: 25%;
        box-shadow: 0px 0px 5px #FF8200;
    }

    #anchor-div{
        position: relative;
        border: 1px solid #FF8200;;
        border-radius: 15px;
        background-color: #FF8200;;
        color:white;
        animation: 1s pulse infinite;
        font-weight: 700;
        width: 25%;
        display: block;
        margin: 0px auto 20px auto;
    }

    #head{
        width: 55%;
        margin: auto;
        display: block;
        background-color: #013220;
        font-size: 24px;
    }


}